/output_files/greybox_tmp/
*.html
*.swn
*.xrf
*.qmsg
*.sft
*.qws
*.rdb
*.cdb
*.hsd
*.db_info
*.bpm
*.cdb
*.hdb
*.ddb
*.rpt
*.summary
*.vho
*.sdo
*.swo
*.flock
*.un~
*.swp
.gitignore~
*.tmw_info
*.map*
*.done
*.un*
*.qsf~
*.idb
*.logdb
*.kpt
*.hier*
*.hif
*.sci
*.tdb
*.ammdb
*.json
*.jdi
*.pin
*.cmp*
*.syn
*~
*.nvd
*.db
*.tdf
*.smp*
unused.hex
*.do*
*.smart*
/db/
