[submodule "source/fpga_communication"]
	path = source/fpga_communication
	url = https://github.com/johonkanen/fpga_communication.git
[submodule "source/hVHDL_dynamic_model_verification_library"]
	path = source/hVHDL_dynamic_model_verification_library
	url = https://github.com/hVHDL/hVHDL_dynamic_model_verification_library
[submodule "source/hVHDL_fixed_point"]
	path = source/hVHDL_fixed_point
	url = https://github.com/hVHDL/hVHDL_fixed_point.git
[submodule "source/hVHDL_microprogam_processor"]
	path = source/hVHDL_microprogram_processor
	url = https://github.com/hVHDL/hVHDL_microprogam_processor.git
[submodule "source/hVHDL_floating_point"]
	path = source/hVHDL_floating_point
	url = https://github.com/hVHDL/hVHDL_floating_point.git
[submodule "source/vhdl_serial"]
	path = source/vhdl_serial
	url = https://github.com/johonkanen/vhdl_serial.git
