/cl10_compile/
/output_files/greybox_tmp/
/spartan_7/.Xil/
*.ip_user_files
spartan_7/output/
spartan_6/output/
ecp5_compile/
*.asv
*.vcd
*.cf
*.Xil
*.mcs
*.prm
*.html
*.swn
*.xrf
*.qmsg
*.sft
*.qws
*.rdb
*.cdb
*.hsd
*.db_info
*.bpm
*.cdb
*.hdb
*.ddb
*.rpt
*.summary
*.vho
*.sdo
*.swo
*.flock
*.un~
*.swp
.gitignore~
*.tmw_info
*.map*
*.done
*.un*
*.qsf~
*.idb
*.logdb
*.kpt
*.hier*
*.hif
*.sci
*.tdb
*.ammdb
*.json
*.jdi
*.pin
*.cmp*
*.syn
*~
*.nvd
*.db
*.tdf
*.smp*
unused.hex
*.do*
*.smart*
/db/
*.rec*
*untit*.*
/lfe5u/rtl/*.*
/lfe5u/rtl
*.dir/
*.log
*.sr*
*.log*
*.cst
*.fd*
*.htm*
*.edn
*.szr
*.lpc*
*.dmp
*.o
*.backup*
*.jou
*.str
*webtalk.*
vunit_out/
build/
build_cyclone/
build_ecp5/
*.swm
*.qraw
*.dll
*.qopraw
*.raw
*.cir
*.utf8
*.obj
*.def
hil_simulation/build/
build*/
*.dat
*.fst*
efinix_titanium_build/outflow/
efinix_titanium_build/work_pnr/
efinix_titanium_build/work_pt/
efinix_titanium_build/work_syn/
.lock
__pycache__
output/
