
# PlanAhead Generated physical constraints 
NET "po4_dhb_pwm_pri_high" LOC = R9;
NET "po4_dhb_pwm_pri_low" LOC = R7;
NET "po4_dhb_pwm_sec_high" LOC = T5;
NET "po4_dhb_pwm_sec_low" LOC = R1;
NET "po4_ht_pwm_pri_high" LOC = T9;
NET "po4_ht_pwm_pri_low" LOC = T8;
NET "po4_ht_pwm_sync1" LOC = P2;
NET "po4_ht_pwm_sync2" LOC = R5;
NET "po_bypass_relay" LOC = L1;
NET "po_uart_tx" LOC = H2;
NET "po2_pfc_pwm_ac1" LOC = K1;
NET "po2_pfc_pwm_ac2" LOC = C1;
NET "pi_uart_rx" LOC = J3;
NET "pi_ext_ad1_sdata" LOC = R2;
NET "pi_ext_ad2_sdata" LOC = N1;
NET "po_ext_ad1_clk" LOC = M2;
NET "po_ext_ad1_cs" LOC = T7;
NET "po_ext_ad2_clk" LOC = P1;
NET "po_ext_ad2_cs" LOC = T6;
NET "po3_adb_muxsel[2]" LOC = C2;
NET "po3_adb_muxsel[1]" LOC = B1;
NET "po3_adb_muxsel[0]" LOC = B2;
NET "po3_ada_muxsel[2]" LOC = A3;
NET "po3_ada_muxsel[1]" LOC = B6;
NET "po3_ada_muxsel[0]" LOC = A6;
NET "pi_ada_sdata" LOC = A8;
NET "pi_adb_sdata" LOC = A13;
NET "po3_led1_red" LOC = A10;
NET "po3_led1_green" LOC = A12;
NET "po3_led1_blue" LOC = A11;
NET "po3_led2_blue" LOC = B15;
NET "po3_led2_green" LOC = B16;
NET "po3_led2_red" LOC = A14;
NET "po_ada_clk" LOC = A7;
NET "po_ada_cs" LOC = A9;
NET "po_adb_clk" LOC = B12;
NET "po_adb_cs" LOC = C16;
NET "xclk32mhz" LOC = B10;
NET "po3_led3_blue" LOC = D16;
NET "po3_led3_green" LOC = E16;
NET "po3_led3_red" LOC = F16;

# PlanAhead Generated IO constraints 
NET "po3_ada_muxsel[2]" IOSTANDARD = LVCMOS33;
NET "po3_ada_muxsel[1]" IOSTANDARD = LVCMOS33;
NET "po3_ada_muxsel[0]" IOSTANDARD = LVCMOS33;
NET "po3_adb_muxsel[2]" IOSTANDARD = LVCMOS33;
NET "po3_adb_muxsel[1]" IOSTANDARD = LVCMOS33;
NET "po3_adb_muxsel[0]" IOSTANDARD = LVCMOS33;
NET "pi_ada_sdata" IOSTANDARD = LVCMOS33;
NET "pi_adb_sdata" IOSTANDARD = LVCMOS33;
NET "pi_ext_ad1_sdata" IOSTANDARD = LVCMOS33;
NET "pi_ext_ad2_sdata" IOSTANDARD = LVCMOS33;
NET "pi_uart_rx" IOSTANDARD = LVCMOS33;
NET "po2_pfc_pwm_ac1" IOSTANDARD = LVCMOS33;
NET "po2_pfc_pwm_ac2" IOSTANDARD = LVCMOS33;
NET "po3_led1_blue" IOSTANDARD = LVCMOS33;
NET "po3_led1_green" IOSTANDARD = LVCMOS33;
NET "po3_led1_red" IOSTANDARD = LVCMOS33;
NET "po3_led2_blue" IOSTANDARD = LVCMOS33;
NET "po3_led2_green" IOSTANDARD = LVCMOS33;
NET "po3_led2_red" IOSTANDARD = LVCMOS33;
NET "po3_led3_blue" IOSTANDARD = LVCMOS33;
NET "po3_led3_green" IOSTANDARD = LVCMOS33;
NET "po3_led3_red" IOSTANDARD = LVCMOS33;
NET "po4_dhb_pwm_pri_high" IOSTANDARD = LVCMOS33;
NET "po4_dhb_pwm_pri_low" IOSTANDARD = LVCMOS33;
NET "po4_dhb_pwm_sec_high" IOSTANDARD = LVCMOS33;
NET "po4_dhb_pwm_sec_low" IOSTANDARD = LVCMOS33;
NET "po4_ht_pwm_pri_high" IOSTANDARD = LVCMOS33;
NET "po4_ht_pwm_pri_low" IOSTANDARD = LVCMOS33;
NET "po4_ht_pwm_sync1" IOSTANDARD = LVCMOS33;
NET "po4_ht_pwm_sync2" IOSTANDARD = LVCMOS33;
NET "po_ada_clk" IOSTANDARD = LVCMOS33;
NET "po_ada_cs" IOSTANDARD = LVCMOS33;
NET "po_adb_clk" IOSTANDARD = LVCMOS33;
NET "po_adb_cs" IOSTANDARD = LVCMOS33;
NET "po_bypass_relay" IOSTANDARD = LVCMOS33;
NET "po_ext_ad1_clk" IOSTANDARD = LVCMOS33;
NET "po_ext_ad1_cs" IOSTANDARD = LVCMOS33;
NET "po_ext_ad2_clk" IOSTANDARD = LVCMOS33;
NET "po_ext_ad2_cs" IOSTANDARD = LVCMOS33;
NET "po_uart_tx" IOSTANDARD = LVCMOS33;
NET "xclk32mhz" IOSTANDARD = LVCMOS33;
#Created by Constraints Editor (xc6slx16-ftg256-3) - 2019/07/27
NET "xclk32mhz" TNM_NET = xclk32mhz;
TIMESPEC TS_xclk32mhz = PERIOD "xclk32mhz" 31.125 ns HIGH 50% INPUT_JITTER 50 ps;
