BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "po3_led1[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po3_led1[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po3_led1[2]" IO_TYPE=LVCMOS33 ;
SYSCONFIG CONFIG_IOVOLTAGE=3.3 MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE CONFIG_MODE=SPI_QUAD BACKGROUND_RECONFIG=ON CONFIG_SECURE=OFF DONE_OD=OFF DONE_PULL=OFF ;
VOLTAGE 1.045 V;
LOCATE COMP "po3_led2[1]" SITE "T20" ;
LOCATE COMP "po3_led3[1]" SITE "U17" ;
LOCATE COMP "po3_led1[1]" SITE "R18" ;
IOBUF PORT "po3_led2[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po3_led2[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po3_led2[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po3_led3[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po3_led3[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po3_led3[0]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "po3_led1[0]" SITE "P20" ;
LOCATE COMP "po3_led1[2]" SITE "P19" ;
LOCATE COMP "po3_led2[2]" SITE "R20" ;
LOCATE COMP "po3_led2[0]" SITE "T19" ;
LOCATE COMP "po3_led3[2]" SITE "U19" ;
LOCATE COMP "po3_led3[0]" SITE "U18" ;
LOCATE COMP "po_uart_tx" SITE "A11" ;
IOBUF PORT "po_uart_tx" IO_TYPE=LVCMOS33 ;
LOCATE COMP "po_adb_cs" SITE "R17" ;
LOCATE COMP "po_adb_clk" SITE "U20" ;
LOCATE COMP "po_ada_cs" SITE "N20" ;
LOCATE COMP "po_ada_clk" SITE "M20" ;
IOBUF PORT "po_ada_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po_ada_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po_adb_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po_adb_cs" IO_TYPE=LVCMOS33 ;
LOCATE COMP "po3_ada_muxsel[2]" SITE "L18" ;
LOCATE COMP "po3_ada_muxsel[1]" SITE "L20" ;
LOCATE COMP "po3_ada_muxsel[0]" SITE "M19" ;
LOCATE COMP "po3_adb_muxsel[2]" SITE "B19" ;
LOCATE COMP "po3_adb_muxsel[1]" SITE "B20" ;
LOCATE COMP "po3_adb_muxsel[0]" SITE "A18" ;
IOBUF PORT "po3_adb_muxsel[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po3_adb_muxsel[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po3_adb_muxsel[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po3_ada_muxsel[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po3_ada_muxsel[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po3_ada_muxsel[0]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "po2_pfc_pwm[1]" SITE "B8" ;
LOCATE COMP "po2_pfc_pwm[0]" SITE "B17" ;
LOCATE COMP "pi_uart_rx" SITE "B9" ;
LOCATE COMP "pi_adb_sdata" SITE "T17" ;
LOCATE COMP "xclk32mhz" SITE "L19" ;
LOCATE COMP "po_bypass_relay" SITE "A6" ;
LOCATE COMP "po_ext_ad2_cs" SITE "H2" ;
LOCATE COMP "po_ext_ad2_clk" SITE "B1" ;
LOCATE COMP "po_ext_ad1_cs" SITE "G1" ;
LOCATE COMP "po_ext_ad1_clk" SITE "A4" ;
IOBUF PORT "po_ext_ad2_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po_ext_ad2_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po_ext_ad1_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po_ext_ad1_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po_bypass_relay" IO_TYPE=LVCMOS33 ;
IOBUF PORT "xclk32mhz" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pi_adb_sdata" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pi_uart_rx" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po2_pfc_pwm[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po2_pfc_pwm[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po4_ht_pwm[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po4_ht_pwm[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po4_ht_pwm[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po4_ht_pwm[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po4_dhb_pwm[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po4_dhb_pwm[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po4_dhb_pwm[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "po4_dhb_pwm[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pi_ext_ad2_sdata" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pi_ext_ad1_sdata" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pi_ada_sdata" IO_TYPE=LVCMOS33 ;
LOCATE COMP "pi_ada_sdata" SITE "N19" ;
LOCATE COMP "po4_ht_pwm[1]" SITE "K2" ;
LOCATE COMP "po4_ht_pwm[0]" SITE "H1" ;
LOCATE COMP "po4_ht_pwm[2]" SITE "A3" ;
LOCATE COMP "po4_ht_pwm[3]" SITE "F1" ;
LOCATE COMP "po4_dhb_pwm[0]" SITE "K1" ;
LOCATE COMP "po4_dhb_pwm[1]" SITE "J1" ;
LOCATE COMP "po4_dhb_pwm[2]" SITE "G2" ;
LOCATE COMP "po4_dhb_pwm[3]" SITE "D1" ;
LOCATE COMP "pi_ext_ad1_sdata" SITE "C1" ;
LOCATE COMP "pi_ext_ad2_sdata" SITE "B3" ;
