:BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "xclk" SITE "L19" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.ada_mux[0]" SITE "M19" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.ada_mux[1]" SITE "L20" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.ada_mux[2]" SITE "L18" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.ada_clock" SITE "M20" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.adb_clock" SITE "U20" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.ada_cs" SITE "N20" ;
LOCATE COMP "system_control_FPGA_in.component_interconnect_FPGA_in.onboard_ad_control_FPGA_in.ada_data" SITE "N19" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.adb_cs" SITE "R17" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.adb_mux[0]" SITE "A18" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.adb_mux[1]" SITE "B20" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.adb_mux[2]" SITE "B19" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led1.red" SITE "P19" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led1.green" SITE "R18" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led1.blue" SITE "P20" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led2.red" SITE "R20" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led2.green" SITE "T20" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led2.blue" SITE "T19" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led3.red" SITE "U19" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led3.green" SITE "U17" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led3.blue" SITE "U18" ;
IOBUF PORT "xclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_in.component_interconnect_FPGA_in.onboard_ad_control_FPGA_in.ada_data" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_in.component_interconnect_FPGA_in.pi_uart_rx_serial" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.bypass_relay" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.ada_clock" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.ada_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.ada_mux[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.ada_mux[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.adb_clock" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.ada_mux[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.adb_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.adb_mux[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.adb_mux[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.adb_mux[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led1.blue" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led1.green" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led1.red" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led2.blue" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led2.green" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led2.red" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led3.blue" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led3.red" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led3.green" IO_TYPE=LVCMOS33 ;
IOBUF PORT "system_control_FPGA_out.component_interconnect_FPGA_out.po_uart_tx_serial" IO_TYPE=LVCMOS33 ;
SYSCONFIG CONFIG_IOVOLTAGE=3.3 ;
BLOCK NET "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.ada_mux_c_0" ;
BLOCK NET "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.ada_mux_c_1" ;
BLOCK NET "system_control_FPGA_out.component_interconnect_FPGA_out.onboard_ad_control_FPGA_out.ada_mux_c_2" ;
BLOCK NET "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led1.green_c" ;
BLOCK NET "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led2.red_c" ;
BLOCK NET "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led3.blue_c" ;
BLOCK NET "system_control_FPGA_out.component_interconnect_FPGA_out.po3_led3.green_c" ;
LOCATE COMP "system_control_FPGA_out.component_interconnect_FPGA_out.po_uart_tx_serial" SITE "A11" ;
LOCATE COMP "system_control_FPGA_out.bypass_relay" SITE "B3" ;
LOCATE COMP "system_control_FPGA_in.component_interconnect_FPGA_in.pi_uart_rx_serial" SITE "B9" ;
